@import "variables";

#wrapper .component.cardoverview {
    
    .card {
        
        padding: 1rem;
        text-align: center;
        min-height: 320px;

        &.Blau {
            border: 1px dotted $card-color-blue;
            .dice-side {
                border: 1px solid $card-color-blue;
            }
        }

        &.Gelb {
            border: 1px dotted $card-color-yellow;
            .dice-side {
                border: 1px solid $card-color-yellow;
            }
        }
        &.Neutral {
            border: 1px dotted $card-color-neutral;
            .dice-side {
                border: 1px solid $card-color-neutral;
            }
        }
        &.Rot {
            border: 1px dotted $card-color-red;
            .dice-side {
                border: 1px solid $card-color-red;
            }
        }

        .card-body {
            h3 {
                font-size: 1.5rem;
                margin: 1rem 0;
                text-transform: uppercase;
            }

            p {
                margin-bottom: 0;
            }

            table, tr, td {
                border: 1px solid white;
                text-align: center;
            }

            table {
                
                margin: 0 auto;

                tr {
                    td {
                        width: 50px;
                        height: 50px;
                        
                        .symbol {
                            font-size: 1.5rem;
                            &:after {
                                font-size: 1rem;
                            }
                        }

                        .credit {
                            font-size:0.8rem;
                            color: $credit-color;
                            &:after {
                                font-size: 0.5rem;
                            }
                        }

                    }
                }
            }

        }

    }

}