@charset "UTF-8";

@font-face {
  font-family: "destinycardmangericons";
  src:url("/fonts/destinycardmangericons/destinycardmangericons.eot");
  src:url("/fonts/destinycardmangericons/destinycardmangericons.eot?#iefix") format("embedded-opentype"),
    url("/fonts/destinycardmangericons/destinycardmangericons.woff") format("woff"),
    url("/fonts/destinycardmangericons/destinycardmangericons.ttf") format("truetype"),
    url("/fonts/destinycardmangericons/destinycardmangericons.svg#destinycardmangericons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:after {
  font-family: "destinycardmangericons";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="swd-icon-"]:after,
[class*=" swd-icon-"]:after {
  font-family: "destinycardmangericons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swd-icon-credit:after {
  content: "\61";
}
.swd-icon-meele:after {
  content: "\62";
}
.swd-icon-pullcard:after {
  content: "\63";
}
.swd-icon-reroll:after {
  content: "\64";
}
.swd-icon-ranged:after {
  content: "\65";
}
.swd-icon-shield:after {
  content: "\66";
}
.swd-icon-special:after {
  content: "\67";
}
.swd-icon-blank:after {
  content: "–";
}