// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$card-color-blue : #1439cd;
$card-color-yellow : #fef501;
$card-color-red : #c10101; 
$card-color-neutral : #929292;
$credit-color: #000000;