
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "mixins";
@import "iconfont";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Components
@import "/components/cardoverview";


#welcome {
    .logo {
      font-size: 12rem;
      @include animation('fadeIn 2s');
    }
}

@include keyframes(fadeIn) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
